fastapi
uvicorn[standard]
python-dotenv
pymongo[srv]
groq
python-jose[cryptography]
httpx
beautifulsoup4
authlib
pydantic
python-multipart
python-whois
PyPDF2
ddgs
wikipedia
ultralytics
opencv-python-headless
pytesseract
passlib[bcrypt]
